<%- layout('partials/boilerplate.ejs') %>

    <div class="mt-3">
        <form action="/products/<%=foundProduct.id%>?_method=PUT" method="POST">
            <div class="form-group">
                <label class="form-label" for="name">Product Name</label>
                <input class="form-control" type="text" id="name" name="product[name]" value="<%= foundProduct.name%>">
            </div>

            <div class="form-group">
                <label class="form-label" for="price">Product Price</label>
                <input class="form-control" type="text" id="price" name="product[price]"
                    value="<%= foundProduct.price%>">
            </div>

            <div class="form-group">
                <label class="form-label" for="image">Product image</label>
                <input class="form-control" type="text" id="image" name="product[image]">
            </div>

            <div class="form-group">
                <label class="form-label" for="description">Product Description</label>
                <textarea class="form-control" name="product[description]" id="" cols="30"
                    rows="5"><%=foundProduct.description%></textarea>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary">Edit Product</button>
            </div>
        </form>
    </div>
    <!-- <a href="/products/<%=foundProduct._id%>">Back</a>
    <a href="/products/">All Products</a> -->